{% extends "layout.html" %}
{% block body %}
<br><br><br><br><br><br>
<div class="container-fluid row justify-content-center">
    <div class="card mb-3" style="max-width: 840px;">
        <div class="row no-gutters">
            <div class="col-md-3 mt-2">
                <img src="../static/images/Boda.jpg" width="300px" height="50%" alt="..."
                    style="transform: rotate(90deg);">
            </div>
            <div class="col-md-9">
                <div class="card-body ml-3">
                    <h2 class="card-title">About Me</h2>
                    <p class="card-text">As a Photographer I always Watch the bright side of things or You Can Say I am
                        an optimistic Photographer
                        I naver miss clicking natural shoys and for past many years I have creating a series of natural
                        photos.
                        I am Pratham from Unnao and i am a Photographer.
                        Basically my hobby is to click pics and capture each and every beautiful natural movement. I am
                        going ahead with my hobby,
                        i love clicking pics and i love to Photograph my portraits in a beautiful outdoor location, such
                        as the park, or the botanic gradens... </p>


                    <p class="strog">Just working Hard for much Experience</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}