{% extends 'admin/model/create.html' %}

{% block body %}
<h1>Create Post</h1>
<div class="row justify-content-center">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <h3>Title For Post</h3>
        <div class="inputBox">
            {% if form.title.errors %}
            <ul class="errors">{% for error in form.title.errors %}<p>{{ error }}</p>{% endfor %}</ul>
            {% else %}
            {{ form.title(placeholder="Title") }}
            {% endif %}
        </div>
        <h3>Body for post</h3>
        <div class="inputBox">
            {% if form.content.errors %}
            <ul class="errors">{% for error in form.content.errors %}<p>{{ error }}</p>{% endfor %}</ul>
            {% else %}
            {{ form.content(placeholder="Content") }}
            {% endif %}
        </div>
        <h3>Upload photos</h3>
        <div class="inputBox">
            {{form.file(multiple="multiple")}}
            <br><br>
            {{ form.post() }}
        </div>
    </form>
</div>
{% endblock %}